@model ProyectoFarmacia.BL.OrdenDetalle

@{
    ViewBag.Title = "Eliminar";
}

<h2>Ordenes</h2>
<hr />
<h4>Se eliminará este producto de la orden</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            Orden No:
        </dt>
          
        <dd>
            @Html.DisplayFor(model => model.OrdenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.OrdenId)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger btn-sm" /> 
            @Html.ActionLink("Ir a la lista", "Index", new { id = Model.OrdenId }, new { @class = "btn btn-default btn-sm", @type = "button" })
        </div>
    }
</div>