@model IEnumerable<ProyectoFarmacia.BL.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Nuevo producto", "Crear",null, new { @class = "btn btn-primary btn-sm", @type = "button" })
</p>

	<table id="myTable" class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Descripcion)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Categoria)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Precio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.existencias)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.fechaVencimiento)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UrlImagen)
				</th>
				@*<th>
					@Html.DisplayNameFor(model => model.Activo)
				</th>*@
				<th>
					Acciones
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Descripcion)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Categoria.Descripcion)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Precio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.existencias)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.fechaVencimiento)
					</td>
					<td>
						<img src="@item.UrlImagen" alt="@item.Descripcion" style="width:64px; height:auto" />
					</td>
					@*<td>
						@Html.DisplayFor(modelItem => item.Activo)
					</td>*@
					<td>
						@Html.ActionLink(" Editar", "Editar", "Productos", new { id = item.ID }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit", @type = "button" })
						@Html.ActionLink(" Detalle", "Detalle", new { id = item.ID }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-list-alt", @type = "button" }) 
						@Html.ActionLink(" Eliminar", "Eliminar", new { id = item.ID }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", @type = "button" })
					</td>
				</tr>

			}
		</tbody>
	</table>

