@model IEnumerable<ProyectoFarmacia.BL.Orden>

@{
    ViewBag.Title = "Ordenes";
}

<h2>Ordenes</h2>

<p>
    @Html.ActionLink("Nueva Orden", "Crear", null, new { @class = "btn btn-primary btn-sm", @type = "button" })
</p>
<table id="myTable" class="table table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Cliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fecha)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Total)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Activo)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Cliente.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fecha)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Total)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Activo)
				</td>
				<td>
					@Html.ActionLink(" Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-edit", @type = "button" }) 
					@Html.ActionLink(" Detalle", "Detalle", new { id = item.Id }, new { @class = "btn btn-warning btn-sm glyphicon glyphicon-list-alt", @type = "button" }) 
					@Html.ActionLink(" Ver Productos", "Index", "OrdenDetalle", new { id = item.Id }, new { @class = "btn btn-success btn-sm glyphicon glyphicon-trash", @type = "button" })
				</td>
			</tr>
		}
	</tbody>
</table>
